{% extends 'dashboard_base.html' %} 
{% block title %}{% endblock %}

{% block header_title %} 
{% endblock header_title %} 
{% block header_btn %}
{% endblock header_btn %}
{% block header_sub %}{% endblock header_sub %}
{% block page_table %}
<div class="row mt--2">
<div class="col-12">
  <div class="card">
    <!-- <div class="card-header"> -->
    <!-- <div class="card-title">My Contacts</div> -->
    <!-- </div> -->
    <div class="card-body">
      <!-- <div class="card-title fw-mediumbold">Inbox</div> -->
      <table class="table table-head-bg-primary mt-4" class="table-responsive">
        <thead>
          <tr>
            <th scope="col">To</th>
            <th scope="col">Subject</th>
            <th scope="col">Preview</th>
            <th scope="col" class="text-center">Date</th>
            <th scope="col" class="text-center">Action</th>
            <th scope="col" class="text-center">Attachment</th>
          </tr>
        </thead>
        <tbody>
          {% for draft in drafts %}
          <tr>
            <td>{{ draft.prsnl_name }}</td>
            <td>{{ draft.prsnl_last_name }}</td>
            <td>{{ draft.prsnl_email }}</td>
            <td colspan="2">
              <a
                href="{{ url_for('dashboard.homepage') }}"
                class="btn btn-icon btn-round btn-info"
              >
                <i class="fa fa-info"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

  {% endblock page_table %}</div>
