{% extends "layouts/base.html" %}

{% block title %} Mailbox{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
<div class="page-inner">
<div class="page-header">
    <h4 class="page-title">{{ breadcrumb[0] }}</h4>
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="flaticon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">{{ breadcrumb[0] }}</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">{{ breadcrumb[1] }}</a>
        </li>
    </ul>
</div>
<!--table-->
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">View {{ breadcrumb[0]}}</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="basic-datatables" class="display table table-striped table-hover" >
                    <thead>
                        <tr>
                 

                            {% for header in headers %}
                                <th>{{ header}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            {% for header in headers %}
                                <th>{{ header}}</th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                    <tbody>
                        
                           
                            {%for mail in mails %}
                            <tr>    {% if breadcrumb[0] == 'Inbox' %}
                                    <td> {{ mail.author_name }} {{ mail.author_last_name }}</td> 
                                    {% else %}
                                      <td>    {{ mail.recipient_name }} {{ mail.recipient_last_name }} </td> 
                                    {% endif %}}

                                   <td >{{ mail.mail_subject }}</td>
                                   <td >{{ mail.mail_synopsys }}</td>
                                   <td >
                                    {% if  not mail.recipient_read %}
                                        <i class="far fa-envelope"></i>
                                    {% else %}
                                    <i class="far fa-envelope-open"></i>
                                    {% endif %}
                                    </td>
                                    <td> 
                                        {% if mail.mail_attachments %}
                                        <button type="button" class="btn btn-icon btn-link">
                                                 <i class="fa fa-link"></i>
                                        </button>
                                        {% else %}
                                        <button type="button" class="btn btn-icon btn-link" disabled="disabled">
                                            <i class="fa fa-link"></i>
                                   </button>
                                        {% endif %}
                                    </td>
                                    <td> {{ mail.mail_composed_date }}</td>
                                    <td>
                                        
                                            <a href="{{ url_for('dashboard.open_mail' , ref_id=mail.reference_id, ml_id=mail.mail_id, mail_type=breadcrumb[0]) }}"
                                            <button class="btn btn-primary btn-round">Open</button>
                                      
                                      
                                      
                                    </td>
                                </tr>
                            {% endfor %}
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}