{% extends 'dashboard/dashboard_base.html' %} 
{% block title %}view mail{% endblock %}
{% block header_title %}
{% endblock header_title %} 

{% block header_btn %}
          <a href="#" class="btn btn-white btn-border btn-round mr-2">Hide</a>
          <a href="#" class="btn btn-secondary btn-round">Reply</a>
{% endblock header_btn %}

{% block page_table %}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">View Mail</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Inbox</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Mail</a>
            </li>
        </ul>
    </div>
    <div class="row">


        <!--horizental tabs-->
        <!-- <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Nav Pills (Horizontal Tabs)</h4>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>

                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                            <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <p>Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country.</p>

                            <p> But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->



        <!--nav pil icon vertical -->
        <div class="col-md-8 ml-auto mr-auto">
            <div class="card">
                <div class="card-header">
                    <h4  class="card-title  text-align: right ">{{ mail.mail_subject}} </h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5 col-md-4">
                            <div class="nav flex-column nav-pills nav-secondary nav-pills-no-bd nav-pills-icons" id="v-pills-tab-with-icon" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab-icons" data-toggle="pill" href="#v-pills-home-icons" role="tab" aria-controls="v-pills-home-icons" aria-selected="true">
                                    <i class="la flaticon-chat-6"></i>
                                    Mail Content
                                </a>
                                <a class="nav-link" id="v-pills-profile-tab-icons" data-toggle="pill" href="#v-pills-profile-icons" role="tab" aria-controls="v-pills-profile-icons" aria-selected="false">
                                    <i class="la flaticon-envelope-3"></i>
                                    Mail Details
                                    
                                </a>
                            </div>
                        </div>
                        <div class="col-7 col-md-8">
                            <div class="tab-content" id="v-pills-with-icon-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home-icons" role="tabpanel" aria-labelledby="v-pills-home-tab-icons">
                                    
                                  <p class="text-align: right"></p>  {{ mail.mail_content }} </p>
                                  
                                </div>
                                <div class="tab-pane fade" id="v-pills-profile-icons" role="tabpanel" aria-labelledby="v-pills-profile-tab-icons">
                                        
                                    
                                    
                                    <!--mail info table-->
                                        <div class="card-body">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><b> Mail ID:</td>
                                                        <td>{{ mail.mail_id }}</td>

                                                    </tr>
                                                    <tr>
                                                        <td><b>From:</b></td></td>
                                                        <td>{{ mail.author_name}}{{ mail.author_last_name }}</td>

                                                    </tr>
                                                    <tr>
                                                        <td><b>To:</b></td>
                                                        <td colspan="2">{{ mail.recipient_name }} {{ recipient_last_name }}</td>
       
                                                    </tr>
                                                    <tr>
                                                        <td><b>Timestamp:</b></td>
                                                        <td colspan="2">@{{mail.mail_composed_time}}- {{mail.mail_composed_date}}</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>









 
    </div>
</div>

{% endblock page_table %}