{% extends "layouts/base.html" %} {% block title %} Profile {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="content">
  <div class="page-inner">
    <div class="page-header">
      <h4 class="page-title">Employee Info</h4>
      <ul class="breadcrumbs">
        <li class="nav-home">
          <a href="#">
            <i class="flaticon-home"></i>
          </a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="#">{{ breadcrumb[0] }}</a>
        </li>
        <li class="separator">
          <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
          <a href="#">{{ breadcrumb[1] }}</a>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        <!-- <h4 class="card-title">Nav Pills (Horizontal Tabs)</h4> -->
    
                    <div class="card card-pricing">
                      <div class="card-header">
         
                        <div class="card-price">
                          <span class="price">{{ current_user.prsnl_name}} {{ current_user.prsnl_last_name }}</span>
                      
                        </div>
                      </div>
                      <div class="card-body">
                        <ul class="specification-list">
                          <li>
                            <span class="name-specification">Personnel ID</span>
                            <span class="status-specification"
                              >{{ current_user.id }}</span
                            >
                          </li>
                          <li>
                            <span class="name-specification">Cell phone</span>
                            <span class="status-specification">{{ current_user.prsnl_cell }}o</span>
                          </li>
                          <li>
                            <span class="name-specification">Email</span>
                            <span class="status-specification"
                              >{{ current_user.prsnl_email }}</span
                            >
                          </li>
                          
 
                        </ul>
                      </div>
                      <div class="card-footer">
                        </button>
                      </div>
                    </div>

        </div>
      </div>
    </div>

    <div class="col-md-6"></div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  Circles.create({
    id: "circles-1",
    radius: 45,
    value: 60,
    maxValue: 100,
    width: 7,
    text: 5,
    colors: ["#f1f1f1", "#FF9E27"],
    duration: 400,
    wrpClass: "circles-wrp",
    textClass: "circles-text",
    styleWrapper: true,
    styleText: true,
  });

  Circles.create({
    id: "circles-2",
    radius: 45,
    value: 70,
    maxValue: 100,
    width: 7,
    text: 36,
    colors: ["#f1f1f1", "#2BB930"],
    duration: 400,
    wrpClass: "circles-wrp",
    textClass: "circles-text",
    styleWrapper: true,
    styleText: true,
  });

  Circles.create({
    id: "circles-3",
    radius: 45,
    value: 40,
    maxValue: 100,
    width: 7,
    text: 12,
    colors: ["#f1f1f1", "#F25961"],
    duration: 400,
    wrpClass: "circles-wrp",
    textClass: "circles-text",
    styleWrapper: true,
    styleText: true,
  });

  var totalIncomeChart = document
    .getElementById("totalIncomeChart")
    .getContext("2d");

  var mytotalIncomeChart = new Chart(totalIncomeChart, {
    type: "bar",
    data: {
      labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
      datasets: [
        {
          label: "Total Income",
          backgroundColor: "#ff9e27",
          borderColor: "rgb(23, 125, 255)",
          data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
        },
      ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        display: false,
      },
      scales: {
        yAxes: [
          {
            ticks: {
              display: false, //this will remove only the label
            },
            gridLines: {
              drawBorder: false,
              display: false,
            },
          },
        ],
        xAxes: [
          {
            gridLines: {
              drawBorder: false,
              display: false,
            },
          },
        ],
      },
    },
  });

  $("#lineChart").sparkline([105, 103, 123, 100, 95, 105, 115], {
    type: "line",
    height: "70",
    width: "100%",
    lineWidth: "2",
    lineColor: "#ffa534",
    fillColor: "rgba(255, 165, 52, .14)",
  });
</script>

{% endblock javascripts %}
