<!-- Sidebar -->
{% if current_user.is_authenticated %}
<div class="sidebar sidebar-style-2">
  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-primary">
        <li class="nav-item {% if 'index' in segment %} active {% endif %}">
          <a
            data-toggle="collapse"



            href="#dashboard"
            class="collapsed"
            aria-expanded="false"
          >
            <i class="fas fa-home"></i>
            <p>Dashboard</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="dashboard">
            <ul class="nav nav-collapse">
              <li>
                <a href="/index.html">
                  <span class="sub-item">Dashboard</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>


        <li class="nav-item {% if 'form' in segment %} active {% endif %}">
          <a data-toggle="collapse" href="#forms">
            <i class="fas fa-pen-square"></i>
            <p>Forms</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="forms">
            <ul class="nav nav-collapse">
              <li>
                <a href="{{ url_for('dashboard.compose') }}">
                  <span class="sub-item">Send a new mail</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item {% if 'tables' in segment %} active {% endif %}">
          <a data-toggle="collapse" href="#tables">
            <i class="fas fa-table"></i>
            <p>Boxes</p>
            <span class="caret"></span>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav nav-collapse">
              <li>
                <a href="{{ url_for('dashboard.inbox') }}">
                  <span class="sub-item">Inbox</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('dashboard.sendbox') }}">
                  <span class="sub-item">Sendbox</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('dashboard.archive') }}">
                  <span class="sub-item">Archive</span>
                </a>
              </li>
              <li>
                <a href="{{ url_for('dashboard.drafts') }}">
                  <span class="sub-item">Drafts</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
       
       
      

        <li class="mx-4 mt-2">
         
        </li>
      </ul>
    </div>
  </div>
</div>
{% endif %}
<!-- End Sidebar -->
