<!DOCTYPE html>
<html>
<head>
<style>
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

</style>
</head>
<body>

<h1>This is a Test Mailbox</h1>
<h2>{{ func_name }}</h2>

<ul>
    {% for item in items  %}
    <legend <b>ref_id</b> : {{ item.reference_id }} </legend>
        
        <li> <b>Subject: </b>{{ item.mail_subject }} </li>
        <li> <b>From: </b>{{ item.author_name }} </li>
        <li> <b>To: </b>{{ item.recipient_name }} </li>

    {% endfor %}
</ul>

</body>
</html>